/.DS_Store
/Interval.class
/Interval.java
/array1.java
/array2.java
/condition1.java
/condition2.java
/condition3.class
/condition3.java
/condition4.java
/condition5.java
/first.java
/function1.java
/function2.java
/function3.java
/function4.java
/funtest.java
/lab3drecheck.java
/lab3drecheck2.java
/lab3drecheck3.java
/leetcode1.java
/leetcode2.java
/leetcode4.java
/leetcode5.java
/leetcode6.java
/leetcode7.java
/leetcode7B.java
/leetcode8.java
/leetocde3.class
/leetocde3.java
/loop1.java
/loop2.java
/loop3.java
/loop4.java
/loop5.java
/maxprime.java
/pattern1.java
/pattern2.java
/pattern3.java
/pattern4.java
/practice1.java
/practice2.class
/practice2.java
/rectangleDemo.java
/second.java
/solar.py
/sum.java
/third.java
/trinagle.java
/uniMemberDemo.java